.leftbar {
    position: fixed;
    height: 100vh;
    background-color: var(--blue-bg);
    padding-top: 100px;
    z-index: 999;
    width: 250px;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.3);
}

/* Menu */
.leftbar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftbar-icon-text {
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    padding: 15px 25px;
    gap: 20px;
    white-space: nowrap;
    border-left: 4px solid var(--blue-bg);
}

/* Ãcones */
.leftbar-icon-text>span:first-child {
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
}

.leftbar-icon-text:hover {
    background-color: var(--hover-button);
    border-left: 4px solid var(--hover-button);
}

.leftbar-icon-text.active {
    background-color: var(--active-button);
    font-weight: bold;
    border-left: 4px solid var(--text-color);
}