:root {
  --white: #fff;
  --blue-bg: #0D1136;
  --text-color: #f0f0f0;
  --active-button: #2c357c;
  --hover-button: #1a2050;
  --title-color: #333;

  --blue-logo: #2E74E6;
  --blue-200: #1D417B;
  --green-logo: #59B17F;
  --purple-logo: #906DFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding-top: 50px;
  margin: 0 300px;
}